h1 {
    color: yellow;
    text-align: center;
    padding-left: 40px;
}


.header{
    background-color:black;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
    padding-top: 20px;
}

a{
    padding: 10px;
    color:blue;
}

body{
    background-color: crimson;
}

.item{
    position: relative;
}

.item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    opacity: 0;
}

.item:hover p{
    opacity: 1;
}

.item:hover img{
    opacity: 0.33;
}

.paragraph h1{
    text-align: left;
    padding-left: 0%;
}

.paragraph li{
    text-align: left;
    font-size: 25px;

    padding-top: 10px;
}

.myself p{

    font-size: 20px;
}
